if SHIELD_XIAO_SPLIT_60_LEFT

config ZMK_KEYBOARD_NAME
    default "xiao split 60"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_XIAO_SPLIT_60_LEFT

if SHIELD_XIAO_SPLIT_60_LEFT || SHIELD_XIAO_SPLIT_60_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_XIAO_SPLIT_60_LEFT || SHIELD_XIAO_SPLIT_60_RIGHT
